.topicos{
    background: var(--azul-degrade);
    text-align: center;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: var(--300);
    line-height: normal;
    padding: 24px 0 32px;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    padding-bottom: 24px;
}

.topicos__item{
    margin: 8px;
    display: flex;
    align-items: center;
}

.topicos__link{
    text-decoration: none;
    font-weight: var(--700);
    font-size: 0.88em;
    line-height: normal;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 16px 24px;
    display: flex;
    align-items: center;
}